li{
    list-style: none;

}
a{
    text-decoration: none;
}
body{
    background-color: $dark;
    overflow-x: hidden;
    max-width: 1097px;
    margin: auto;
    font-family:$graphik;
    text-transform: capitalize;
}
p{
    font-family: $paragraph;
}
section{
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
    height: 100%;
}


.cursor{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    z-index: 9999;
    transform: translate(50%,50%);
}
.grow{
    z-index: 999;
    background-color: rgb(139, 0, 0);
    border: none;
    cursor: none;
    mix-blend-mode: difference;
    transform: scale(2);
}

