.partner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;
}

.partner-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    img{
        margin-right: 40px;
        height: 60px;
    }
}
